/* PALETA DE COLORES EXACTA DE LA SEGUNDA IMAGEN */
.bg-verde {
    background-color: #d9ead3 !important; /* Verde claro pastel de información estudiantil */
    font-weight: bold;
}

.bg-gris {
    background-color: #e0e0e0 !important; /* Gris de cabeceras de parcial y observaciones */
    font-weight: bold;
}

.bg-amarillo-header {
    background-color: #fff2cc !important;
    font-size: 8px;
    font-weight: bold;
}

.bg-amarillo-dia {
    background-color: #fff2cc !important; /* Amarillo claro columnas de días L M X J V S */
    font-size: 9px;
    font-weight: bold;
    text-align: center;
}

.bg-rosa-header {
    background-color: #ff26a8 !important; /* Magenta encendido */
    color: #ffffff !important;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
}

.bg-rosa-col {
    background-color: #ff26a8 !important; /* Columna magenta vertical completa */
    width: 32px;
}

.texto-rojo {
    color: #cc0000; /* Color de texto rojo para advertencias/indicadores */
    font-weight: bold;
}

.col-dia {
    width: 16px;
    padding: 2px 0;
}

.col-hm {
    width: 14px;
}